.mod-ini{
    width: auto;
    height: 350px;
    margin: 20px;
    background-color: #f4ecf7;
    color: #4a235a ;
    padding: 5px;
    border-radius: 3px;
    border: gray solid 1px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  
  .btn-label-gray{
    background-color: #f4ecf7;
    color: #4a235a ;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    border: gray solid 1px;
    width: fit-content;
    height: 40px;
}
.btn-label-gray:hover{
    background-color: #4a235a ;
    color: white;
}

.btn-label-gray-long{
  background-color: #f4ecf7;
  color: #4a235a ;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 3px;
  border: gray solid 1px;
  height: 40px;
}
.btn-label-gray-long:hover{
  background-color: #4a235a ;
  color: white;
}

.btn-label-white-long{
  background-color: white;
  color: #4a235a ;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 3px;
  border: gray solid 1px;
  height: 40px;
  font-size: 12pt;
}
.btn-label-white-long:hover{
  background-color: #4a235a ;
  color: white;
}

.btn-mini-gray{
  color: #4a235a ;
  cursor: pointer;
  height: 40px;
}
.btn-mini-gray:hover{
  background-color: #4a235a ;
  color: white;
}


.menu-group-scroll{
  max-height: 200px;
  margin-bottom: 10px;
  overflow-y: auto; /* Show vertical scrollbar */ 
  overflow-x:hidden
}

.item-menu{
  cursor: pointer;
  padding: 3px;
}
.item-menu:hover{
  background-color: gray;
  color: white;
}

.tabla-cell{
  font-size: 9pt;
}



table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: auto;
    height: 400px;
    
}



.td-fitwidth {
  width: 1px;
  white-space: nowrap;
}

.td-fitwidth-scope {
  font-size: 9pt;
  white-space: nowrap;
  width: 10px;
}
.td-fitwidth-scope:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
}

.btn-cell {
  background-color: #f4ecf7;
  color: #4a235a ;
  padding: 5px;
  border-radius: 3px;
  border: gray solid 1px;
  cursor: pointer;
}

.currSign:before {
  content: '$';
}

.btn-label-escuela{
  background-color: #f4ecf7;
  color: #4a235a ;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 20px;
  border: gray solid 1px;
}

.item-menu-escuela{
  color: #4a235a ;
}

.item-menu-escuela:hover{
  font-weight: bold;
  cursor: pointer;
}

.bgimg {
  background-image: url('./scr/imgfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-menu_escuela{
  background-color: #f4ecf7;
  border-radius: 3px;
  border: #f4ecf7 solid 1px;
  padding: 5px;
}

.btn-menu_escuela:hover{
  font-weight: bold;
}

.btn-menu_escuela-white{
  background-color: white;

  cursor: pointer;
}
.btn-menu_escuela-white:hover{
  font-weight: bold;
  border: gray solid 1px;
  border-radius: 20px;
  border: gray solid 1px;
}